

<h4 class = "text-bg-light p-1  mt-3 fs-4 bg-danger-subtle  ortala" >RENTALS</h4>

  <table  cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th>Brand Name</th>
        <th>Name</th>
        <th>Rent Date</th>
        <th>Return Date</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor = "let rental of rentals">
        <td>{{rental.brandName}}</td>
        <td>{{rental.customerName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
        
        
      </tr>
     
     
    </tbody>
  </table>
